.favorites {
    max-width: 1440px;
    margin: 20px;
    padding: 10px;
    background: var(--white, #fffff1);

    .favheader {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;

        h2 {
            font-size: 64px;
            color: var(--txt-black, #424436);
            font-style: normal;
            font-weight: 700;
            line-height: 110%; /* 70.4px */
        }
    }
}

