.theme-dark {
    max-width: 1440px;
    background-color: #383A2C!important;
    background: #424436!important;
    a {
        color: white;
    }
    h2 {
        color: white;
    }
    p {
        color: white;
    }
    b {
        color: #ffff;
    }
    body {
        background: #424436!important;
    }
}