.productsList {
  max-width: 1440px;
  margin: 20px;
  padding: 10px;
  // background: var(--white, #fffff1);
  justify-content: space-between;
  align-items: center;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 32px;
}

.ProductsByCategoryPage h2 {
  // color: var(--txt-black, #424436);
  font-family: Montserrat;
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: 110%; /* 70.4px */
}

.ProductsByCategoryPage {
  display: grid;
  gap: 40px;
  max-width: 1440px;
  margin: 0px 40px;
  // padding: 0px 40px;
}
.container {
    max-width: 1400px;
    margin: 0 auto; 
  }
  
  .nav {
    margin: 2.5rem 0;
  }
  
  .nav_list {
    display: flex;
    list-style-type: none;
    align-items: center;
    gap: 1rem;
  }
  
  .item {
    position: relative;
    padding: 0 20px;
    border: .0625rem solid #ddd;
    border-radius: .375rem;
    font-size: 1rem;
    line-height: 126%;
    padding: .5rem 1rem;
  }
  
  .item::after {
    content: '';
    position: absolute;
    top: 50%;
    right: -18px;
    width: 18px;
    height: 1px;
    background-color: #DDDDDD;
    transform: translateY(-50%);
  }
  
  .item:last-child::after {
    content: none;
  }
  
  .link {
    color: #8b8b8b;
  }
  
  .title {
    font-size: 64px;
    font-weight: 700;
    text-align: left;
    margin-bottom: 40px;
    color: #424436; 
    line-height: 70.4px;
  }
  
  .form {
    align-items: center;
    display: flex;
    gap: 1rem;
    margin-bottom: 2.5rem;
  }
  
  .label_price, .label_discount, .label_sort {
    font-size: 1.25rem;
    font-weight: 600;
    line-height: 130%;
  }
  
  .input_price, .select_sort {
    border: .0625rem solid #ddd;
    border-radius: .375rem;
    font-size: .9375rem;
    height: 2.25rem;
    padding: .5rem 1rem;
    margin-left: 16px;
  }
  
  .input_discount {
    position: relative;
    width: 2.25rem;
    height: 2.25rem;
    cursor: pointer;
    appearance: none;
    border: .0625rem solid #ddd;
    border-radius: .375rem;
    transition: all .3s ease-in-out;
  }
  
  .input_discount:checked {
    background-color: #92A134; 
    border-color: #92A134;
  }
  
  .input_discount:checked::after {
    content: "✓";
    color: white;
    font-size: 1.25rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .input_discount::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: transform 0.3s ease;
  }
  
  .input_discount:checked::after {
    transform: translate(-50%, -50%) scale(1); /* Отображение галочки */
  }
  
  .loading {
    color: #888;
    text-align: center;
    margin-top: 50px;
  }
  .breadcrumbs {
    display: flex;
    align-items: center;
    padding-left: 40px;
    padding-bottom: 40px;
    padding-top: 40px;
  }
  
  .crumbBox {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 16px;
    border-radius: 8px;
    // background-color: #fffff1;
    border: 1px solid #ddd;
  }
  
  .crumbText {
    color: var(--txt-grey, #8B8B8B);
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 126%;
  }
  
  .crumbTextBlack {
    color: black;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 126%;
  }
  
  .line {
    width: 16px;
    height: 1px;
    background-color: #ddd;
  }

  .sortproductscontainer {
    display: flex;
  }
  
  .sortedoptinselect {
    font-style: normal;
    padding:0px 10px;
    font-family: Montserrat;
    font-size: 16px;
    border-radius: 5px;
    border: 0.3px solid var(--grey-divider, rgb(214, 212, 212));
    margin: 0px 10px;
    width: 200px;
    height: 36px;
  }
  
  .sortedbyprice {
    display: flex;
    margin: 0px 0px;
    align-items: center;
  }
  
  .sortedbyprice button{
    visibility: hidden;
  }
  
  
  .sortedbyprice input{
    background: #ffff;
    padding: 10px;
    display: flex;
    height: 36px;
    border-radius: 5px;
    border: 0.3px solid var(--grey-divider, rgb(214, 212, 212));
    margin: 0px 10px;
    width: 112px;
    max-height: 36px;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 130%;
    &::placeholder {
      color: #424436;
    }
  }
  
  .sortedbydiscount {
    margin: 0px 10px;
    align-items: center;
    display: flex;
    b {
        display:inline;
    align-items: center;
    }
    
    .checkbox input{
        display: grid;
        // position: absolute;    
        border-radius: 5px;
        border: 0.3px solid var(--grey-divider, rgb(214, 212, 212));
        margin: 0px 10px;
        width: 25px;
        height: 32px;
    }    
  }