.navigationbutton {
    width: 120px;
    height: 37px;
    text-decoration: none;
    color: black;
    margin: 8px 13px;
    text-align: center;
    font-family: Montserrat;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    border-radius: 5px;
    border: 0.3px solid var(--grey-divider, rgb(214, 212, 212));
    &:hover {
        background-color: #e0e0e0;
    }
}

.mainpagebutton {
    // color: #cfcfcf;
    width: 120px;
    height: 37px;
    text-decoration: none;
    // color: black;
    margin: 8px 13px;
    text-align: center;
    font-family: Montserrat;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    border-radius: 5px;
    border: 0.3px solid var(--grey-divider, rgb(214, 212, 212));
}

.mainpagebutton a {
    color: gray;
}

.navigationbutton a {
    color: black;
}