.navigation_branch {
    display: flex;
}

.navigationbutton {
    width: 120px;
    height: 37px;
    text-decoration: none;
    color: black;
    margin: 8px 0px;
    text-align: center;
    font-family: Montserrat;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    border-radius: 5px;
    border: 0.3px solid var(--grey-divider, rgb(214, 212, 212));
    &:hover {
        background-color: #e0e0e0;
    }
}

.mainpagebutton {
    // color: #cfcfcf;
    width: 120px;
    height: 37px;
    text-decoration: none;
    // color: black;
    margin: 8px 0px;
    margin-left: 30px;
    text-align: center;
    font-family: Montserrat;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    border-radius: 5px;
    border: 0.3px solid var(--grey-divider, rgb(214, 212, 212));
}

.mainpagebutton a {
    color: gray;
}

.navigationbutton a {
    color: black;
}

.line {
    margin: 25px 0px;
    height: 2px;
    width: 25px;
    height: 1px;
    background: #ddd;
    // margin-left: 20px;
}