.container_single_card {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.singleProductContainer_dark {
  .crumbBox {
    background-color: #424436!important;
    color: #ffff!important;
  }
}

.image_section {
  width: 100%;
  display: flex;
  justify-content: center;
}
.breadcrumbs {
  display: flex;
  margin-left: 40px;
  align-items: center;
  padding-bottom: 40px;
  padding-top: 40px;
}

.crumbBox {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 16px;
  border-radius: 8px;
  // background-color: #fffff1;
  border: 1px solid #ddd;
}

.crumbText {
  color: var(--txt-grey, #8b8b8b);
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 126%;
}

.crumbTextBlack {
  color: black;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 126%;
}

.line {
  width: 16px;
  height: 1px;
  background-color: #ddd;
}

.single_prdouct_page_dark {
  .crumbText {
    color: #8b8b8b;
  }
  .crumbTextBlack {
    color: #ffff;
  }
}