.sortedby {
    margin: 10px 10px;
    display: flex;
    width: 908px;
    height: 36px;
}

.sortedbyprice {
    margin: 0px 10px;
}

.sortedbyprice input{
    margin: 0px 10px;
    width: 112px;
    height: 36px;
}

.sortedbydiscount {
    margin: 0px 10px;
}

.sortedbydiscount input{
    margin: 0px 10px;
    width: 36px;
    height: 36px;
}

.sortedoptinselect {
    margin: 0px 10px;
    width: 200px;
    height: 36px;
}