.discountSection {
  max-width: 1360px;
  max-height: 486px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-left: 40px;
  color: white;
  border-radius: var(--radius-big, 12px);
  background: linear-gradient(80deg, #87933D -0.68%, #55610B 66.66%), linear-gradient(261deg, #0B710B 32.63%, #393 98.96%);
}

h2 {
  color: var(--txt-white, #FFF);
  text-align: center;
  font-family: Montserrat;
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: 110%;
}

.handsImg {
  width: 748;
  height: 360px;
}

.constentSection {
  display: flex;
}

.discountForm {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 50px;
  // height: 360px;
  // width: 612px;
}

input {
  padding: 25px;
  font-size: 16px;
  background-color: transparent;
  color: white;
  border-radius: var(--radius-small, 6px);
  border: 1px solid var(--white, #fffff1);
  width: 538px;
  height: 60px;
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 130%;
}

button {
  padding: 10px;
  color: #333;
  cursor: pointer;
  transition: background-color 0.3s;
  width: 538px;
  height: 60px;
  border-radius: var(--radius-small, 6px);
  background: var(--white, #FFFFF1);
  color: var(--txt-black, #424436);
  text-align: center;
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 130%;

  &:hover {
    background-color: #b7e261;
  }
}