.cart {
  display: grid;
  gap: 40px;
  max-width: 1440px;
  margin-left: 40px;
  margin-top: 20px;
  background: var(--white, #fffff1);
}

.cardheader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  width: 100%; /* Занимает всю ширину родителя */

  .line {
    display: flex;
    flex-grow: 1;
    height: 1px;
    background: #ddd;
    margin-left: 20px;
  }

  h2 {
    font-size: 64px;
    color: var(--txt-black, #424436);
    font-weight: 700;
    line-height: 110%; /* 70.4px */
  }

  .backtostorebtn {
    padding: 8px 16px;
    width: 165px;
    text-decoration: none;
    color: black;
    margin: 8px 13px;
    text-align: center;
    font-family: Montserrat;
    font-size: 15px;
    font-weight: 500;
    border-radius: 5px;
    border: 0.3px solid var(--grey-divider, rgb(214, 212, 212));

    &:hover {
      a {
        color: black;
      }
    }

    a {
      color: gray;
    }
  }
}

.cardempty {
  display: grid;
  gap: 30px;

  .continuebtn {
    width: 313px;
    height: 58px;
    font-weight: 600;
    font-size: 20px;
    color: #fff;
    justify-content: center;
    border-radius: 6px;
    border: 0.3px solid var(--grey-divider, rgb(214, 212, 212));
    background: #92a134;
    transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;

    &:hover {
      border: 2px solid var(--grey-divider, black);
    }
  }
}

.cartContent {
  display: flex; /* Используем flex для выравнивания */
  justify-content: space-between; /* Распределяем элементы по ширине */
  gap: 30px;
  width: 100%; /* Занимает всю ширину родителя */
}

.cartitemscontainer {
  flex: 1; /* Позволяем этому контейнеру занимать оставшееся место */
}

.orderForm {
  display: flex;
  width: 548px;
  padding: 32px;
  flex-direction: column;
  align-items: flex-end;
  gap: 32px;
  border-radius: var(--radius-big, 12px);
  background: var(--light-grey, #f2f6d3);
}

.orderForm div {
  display: flex;
  padding: 8px 20px;
  align-items: center;
  gap: 10px;
  align-self: stretch;
  border-radius: var(--radius-small, 6px);
  border: 1px solid var(--grey-divider, #ddd);
  background: #fff;
}

.submitButton {
  color: var(--txt-white, #fff);
  text-align: center;
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 600;
  line-height: 130%; /* 26px */
  display: flex;
  padding: 16px 32px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  align-self: stretch;
  border-radius: var(--radius-small, 6px);
  background: var(--green, #92a134);
}

.totalPrice {
  color: var(--txt-grey, #8b8b8b);
  font-family: Montserrat;
  font-size: 40px;
  font-weight: 500;
  line-height: 130%; /* 52px */
}

.orderForm .items {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  align-self: stretch;
  color: var(--txt-grey, #8b8b8b);
  font-family: Montserrat;
  font-size: 40px;
  font-style: normal;
  font-weight: 500;
  line-height: 130%; /* 52px */
}
.orderForm .total{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    align-self: stretch;
    color: var(--txt-grey, #8B8B8B);
    font-family: Montserrat;
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: 130%; /* 52px */
}

.orderForm .total .price{
    color: var(--txt-black, #424436);
    font-family: Montserrat;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: 110%; /* 70.4px */  
        margin-right: 10px;
}
.orderForm .order_details{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    align-self: stretch;
    color: var(--txt-black, #424436);
    font-family: Montserrat;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 110%; /* 44px */ 
    margin-left: 10px;
}


.submitButton:hover {
  background-color: #7f8b26; /* Более тёмный оттенок зелёного при наведении */
  transform: translateY(-3px); /* Лёгкое перемещение вверх при наведении */
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); /* Тень для эффекта объема */
}
.backtostorebtn:hover {
  background-color: #7f8b26; /* Более тёмный оттенок зелёного при наведении */
  transform: translateY(-3px); /* Лёгкое перемещение вверх при наведении */
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); /* Тень для эффекта объема */
}
