.cart {
  display: grid;
  gap: 40px;
  max-width: 1440px;
  margin-left: 40px;
  margin-top: 20px;
  background: var(--white, #fffff1);
}

.cart_dark {
  background-color: #424436!important;
  h2 {
    color: #fff!important;
  }
  a {
    color: #ffff!important;
  }
  .cardheader {
    .line {
    background-color: #8888!important;
    }
    .backtostorebtn:hover {
      a {
        color: #fff!important;
      }
    }
    .backtostorebtn{
      background: #424436;
      border: 1px solid var(--grey-divider, #888);
      a {
        color: #888!important;
      }
    }
    
  }
  .cartContent {
    .cartitemscontainer {
      .orderForm {
        background-color: #383A2C;
        .order_details {
          color: #ffff;
        }
        p {
          color: #ffff!important;
        }
        div {
          background-color: #424436;
          color: #ffff;
          input {
            border-color: #424436;
            color: #ffff;
          }
        }
      }
    }
    .cardempty {
      p {
        color: #fff!important;
      }
    }
  }
}

.cardheader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  width: 100%;

  .line {
    display: flex;
    flex-grow: 1;
    height: 1px;
    background: #ddd;
    margin-left: 20px;
  }

  h2 {
    font-size: 64px;
    color: var(--txt-black, #424436);
    font-weight: 700;
    line-height: 110%; /* 70.4px */
  }

  .backtostorebtn {
    display: flex;
    padding: 8px 16px;
    justify-content: center;
    align-items: center;
    margin-right: 58px;
    gap: 10px;
    border-radius: var(--radius-small, 6px);
    border: 1px solid var(--grey-divider, #ddd);
    &:hover {
      a {
        color: black;
      }
    }

    a {
      color: gray;
    }
  }
}

.cardempty {
  display: grid;
  gap: 40px;

  .continuebtn {
    width: 313px;
    height: 58px;
    font-weight: 600;
    font-size: 20px;
    color: #fff;
    justify-content: center;
    border-radius: 6px;
    border: 0.3px solid var(--grey-divider, rgb(214, 212, 212));
    background: #92a134;
    transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;

    &:hover {
      border: 2px solid var(--grey-divider, black);
    }
  }
}

.cartContent {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  width: 100%;
}

.cartitemscontainer {
  display: flex;
  gap: 20px;
}

.orderForm {
  display: flex;
  width: 548px;
  max-height: 720px;
  padding: 32px;
  flex-direction: column;
  align-items: flex-end;
  gap: 32px;
  border-radius: var(--radius-big, 12px);
  background: var(--light-grey, #f2f6d3);
}

.orderForm div {
  display: flex;
  padding: 8px 20px;
  align-items: center;
  gap: 10px;
  align-self: stretch;
  border-radius: var(--radius-small, 6px);
  border: 1px solid var(--grey-divider, #ddd);
  background: #fff;
}

.submitButton {
  color: var(--txt-white, #fff);
  text-align: center;
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 600;
  line-height: 130%; /* 26px */
  display: flex;
  padding: 16px 32px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  align-self: stretch;
  border-radius: var(--radius-small, 6px);
  background: var(--green, #92a134);
}

.totalPrice {
  color: var(--txt-grey, #8b8b8b);
  font-family: Montserrat;
  font-size: 40px;
  font-weight: 500;
  line-height: 130%; /* 52px */
}

.orderForm .items {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  align-self: stretch;
  color: var(--txt-grey, #8b8b8b);
  font-family: Montserrat;
  font-size: 40px;
  font-style: normal;
  font-weight: 500;
  line-height: 130%; /* 52px */
}
.orderForm .total {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  align-self: stretch;
  color: var(--txt-grey, #8b8b8b);
  font-family: Montserrat;
  font-size: 40px;
  font-style: normal;
  font-weight: 500;
  line-height: 130%; /* 52px */
}

.orderForm .total .price {
  color: var(--txt-black, #424436);
  font-family: Montserrat;
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: 110%;
  margin-right: 10px;
}
.orderForm .order_details {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  align-self: stretch;
  color: var(--txt-black, #424436);
  font-family: Montserrat;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 110%;
  margin-left: 10px;
}

.submitButton:hover {
  background-color: #bdce43;
  transform: translateY(-3px);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}
.backtostorebtn:hover {
  background-color: #92a134;
  transform: translateY(-3px);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8); /* Затемнение фона */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal_content {
  display: flex;
  padding: 32px;
  gap: 16px;
  background-color: #7f8b26;
  width: 548px;
  height: 236px;
  border-radius: var(--radius-big, 6px);
}

.modal_content h2 {
  color: white;
  font-weight: 600;
  font-size: 40px;
  line-height: 44px;
  gap: 16px;
}

.modal_content p {
  display: grid;
  color: white;
  font-weight: 600;
  font-size: 20px;
  line-height: 22px;
  gap: 10px;
}

.modal_content_title {
  width: 424px;
  height: 44px;
  display: grid;
  gap: 16px;
}

.modal_content_title_txt {
  display: grid;
  justify-content: space-between;
  width: 424px;
  height: 44px;
}

.modal_content button {
  display: flex;
  color: white;
  background-color: unset;
  width: 44px;
  height: 44px;
  border: none;
  outline: none;
  font-size: 30px;
  cursor: pointer;
}
