.header {
  
  max-width: 1440px; /* Максимальная ширина для контейнера */
  margin: 0 auto; /* Выравнивание по центру страницы */
  padding: 0;
  box-sizing: border-box;
  height: 130px;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 30px;
  border-bottom: 1px solid var(--grey-divider, #ddd);
  background-color: var(--white, #fffff1);  
}

.header button {
  border: none;
  outline: none;
  background-color: unset;
}

.logo {
  display: flex;
  align-items: center;
  gap: 30px;
}

.discount-banner {
  display: flex;
  margin: auto;
  width: max-content;
  padding: var(--radius-small, 6px) 16px;
  border-radius: var(--radius-small, 6px);
  background: var(--green, #92a134);
  color: var(--txt-white, #efe9e9);
  text-align: center;
}

.discount-banner a {
  color: white;
  &:hover {
    color: #a5a5a5;
  }
}

.navList {
  display: flex;
  justify-content: center;
  gap: 40px;
  padding: 10px 0;
  color: var(--txt-black, #424436);
  color: #92a134;
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  text-decoration: none;
  font-weight: 500;
  line-height: 130%;
}

.navList a {
  
  color: black;
  &:hover {
    color: #a5a5a5;
  }
}
.icons {
  display: flex;
  align-items: center;
  gap: 20px;
}
.icons > a {
  position: relative;
}
.header__menu > a{
  margin-right: 20px;
  
}


.icons > a span {
  background-color: #92a134;
  width: 23.833px;
  height: 23.833px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  color: white;
  border-radius: 50%;
  padding: 9px;
  position: absolute;
  top: 0px;
  left: 0px;
}
.style-center {
  color: var(--txt-black, #424436);
}
.icons > :hover {
  transform: scale(1.1);
  transition: transform 0.1s ease, border 0.3s ease;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8); /* Затемнение фона */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal_dark h2, p{
  color: #424436!important;
}

.modal_content {
  display: grid;
  padding: 32px;
  gap: 16px;
  background-color:#7f8b26;
  width: 548px;
  height: 664px;
  border-radius: var(--radius-big, 6px);

}

.modal_content img{
  margin-left: auto;
  margin-right: auto;
  display: flex;
  object-fit: cover;
  width: 484px;
  height: 284px;
}

.modal_content p{
  // color: white;
  font-weight: 600;
  font-size: 40px;
  line-height: 44px;
}

.modal_title {
  display: flex;
  gap: 16px;
}

.modal_title button{
  color: white;
  background-color: unset;
  width: 44px;
  height: 44px;
  border: none;
  outline: none;
  font-size: 30px;
  cursor: pointer;
}

.modal_product {
  display: grid;
  width: 484px;
  height: 496px;
  // background-color: white;
  gap: 20px;
}

.modal_product_content {
  display: grid;
  gap: 20px;
  width: 484px;
  height: 422px;
  background-color: white;
  border-radius: var(--radius-big, 6px);
  border: 1px;
  overflow: hidden;
}

.modal_product p{
  color: #424436;
}

.modal_product_txt {
  // font-weight: 200;
  color: #424436;
  display: grid;
  width: 316px;
  height: 118px;
  padding-right: 32px;
  padding-bottom: 32px;
  padding-left: 32px;
  gap: 16px;
}

.module_product_title {
  overflow: hidden;
  width: 252px;
  height: 26px;
}

.module_product_title h2{
  overflow: hidden;
  font-weight: 500;
  font-size: 20px;
  line-height: 26px;
}

.modal_product_price {
  width: 252px;
  height: 44px;
  display: flex;
  gap: 16px;
}

.modal_product_price_main p{
  width: 130px;
  height: 44px;
  font-weight: 600;
  font-size: 40px;
  line-height: 44px;
}

.modal_product_discount{
  margin-top: auto;
  color: #8B8B8B;
  width: 51px;
  height: 26px;
  font-size: 20px;
  line-height: 26px;
  font-weight: 500;
}

.modal_product_discount p{
  margin-bottom: auto;
  color: #8B8B8B;
  width: 51px;
  height: 26px;
  font-size: 20px;
  line-height: 26px;
  font-weight: 500;
}

.modal_product_button_container {
  width: 484px;
  height: 58px;
  border: 1px;
  border-radius: 1px;
  // background-color: white;
  :hover{
    border: 1px;
    border-color: black;
    background-color: #a5a5a5;
  }
  :active {
    background-color: #8B8B8B;
  }
  button {
    cursor: pointer;
    display: grid;
    width: 484px;
    height: 58px;
    border-radius: var(--radius-small, 6px);
    border: 1px;
    padding-top: 16px;
    padding-right: 32px;
    padding-bottom: 16px;
    padding-left: 32px;
    gap: 10px;
    background-color: white;

    p{
      width: 420px;
      height: 26px;
      font-weight: 600;
      font-size: 20px;
      line-height: 26px;
      align-self: center;
    }
  }
}

.header-dark {
  display: flex;
  background: #424436!important;
  border-bottom: 1px solid var(--grey-divider, #888);

  // color: #ddd;
  a {
    color: white;
  }
}

@media (max-width: 1000px) {
  .main_kontainer  {
  display: flex;
  justify-content: space-between;

 
}
}

@media  (max-width:768px) {
  .header {
    
    display: flex;
    justify-content: space-between;
    
  }
  .navList{
    font-size: 16px;
    white-space: nowrap;
  gap: 20px;
  }
 
}
  
@media (max-width: 480px) {
  .header {
    height: 54px;
    padding-left: 10px;
  }

  .discount-banner {
    display: none;
  }

  .header__burger {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
  }
  .logo_1 {
    max-width: 44px;
  }
  .mode {
    max-width: 44px;
  }

  .icon {
    max-width: 44px;
  }
  .cart {
    max-width: 44px;
  }

  .header__burger span {
    position: absolute;
    background-color: #424436;
    left: 0;
    width: 100%;
    height: 2px;
    top: 9px;
  }
  .header__burger::before,
  .header__burger:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    background-color: #424436;
  }
  .header__burger:before {
    top: 0;
  }
  .header__burger:after {
    bottom: 0;
  }
  .header__burger span {
    transform: scale(0);
  }
  .header__burger:before {
    transform: rotate(45deg);
    top: 9px;
  }
  .header__burger:after {
    transform: rotate(-45deg);
    bottom: 9px;
  }
  .header__burger:not(.active) span {
    transform: scale(1); /* Восстанавливаем центральную линию */
    transition: transform 0.3s ease;
  }

  .header__burger:not(.active):before {
    transform: rotate(0deg); /* Возвращаем в исходное положение */
    top: 0;
    transition: transform 0.3s ease, top 0.3s ease;
  }

  .header__burger:not(.active):after {
    transform: rotate(0deg); /* Возвращаем в исходное положение */
    bottom: 0;
    transition: transform 0.3s ease, bottom 0.3s ease;
  }
  .navList {
    position: fixed;
    top: 0;
    left: 0;

    padding: 70px 10px 0px 30px;
  }
  .header__menu a {
    display: block;
    margin: 0px 10px 10px 330px;
    margin-right: auto;
  }
  .navList {
    display: none;
  }

  .navList.active {
    display: block;
  }
}

  
@media (max-width: 360px) {
  .header__menu a {
    display: block;
    margin: 0px 10px 10px 220px;
    
    
  
  }
}