.main_container.light-theme {
    background-color: #ffffff;
    /* color: #000000; */
}

.main_container.dark-theme {
    background-color: #383A2C;
    /* color: #ffffff; */
}

h2 {
    color: var(--txt-black, #424436);
}

a {
    text-decoration: none;

}

* {
    font-family: "Montserrat", sans-serif;
}