.container {
  font-family: "Montserrat", sans-serif;
  max-width: 1440px;
  max-height: 1766px;
  text-align: center;
  padding: 50px;
  background: var(--white, #FFFFF1);
  }
  
  .errorCode {
    font-size: 144px;
    font-weight: bold;
    color: #6b8e23; 
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .cactus {
    width: 150px;
    margin: 0 20px;
  }
  
  .title {
    font-size: 36px;
    margin-top: 20px;
  }
  
  .description {
    margin-top: 20px;
    font-size: 14px;
    color: #777;
  }
  
  .button {
    background-color: #6b8e23;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
  }
  
  .button:hover {
    background-color: #556b2f;
  }